# Gradle
.gradle/
build/

# Local config
local.properties

# Android Studio
.idea/
*.iml

# APK / AAB
*.apk
*.aab

# Keystore
*.jks
*.keystore

# Firebase
app/google-services.json

# Environment
.env

# Logs
*.log